{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Share Market</title>
	<link rel="stylesheet" type="text/css" href="{%static 'user_registration/style/AboutUs.css' %}">
</head>
<body>
	<header>
	<nav>
        <div class="logo">
            <h1><img src="{%static 'user_registration/assets/vvv.jpg' %}">Stock M</h1>
</div>
        <div class="menu">
            <ul>
                <li><a href="../">HOME</a></li>
               
                <li><a href="../help">HELP</a></li>
                <li><a href="../aboutus">About Us</a></li>
</ul>
</div>
</nav>
	<div class="wrapper">
		<h1>About Us</h1>
		<h2>This system has been designed to provide user a friendly environment with access to all our features and also ensures the satisfaction of a user and guides them to each and every points of the system. </h2>

		<div class="team"
		>
    <div class="team_member">
    	<div class="team_img">
        <img src="{%static 'user_registration/assets/pic1.jpg' %}">
      </div>
      <h3>Rajat Budhathoki</h3>
      <p class="role">Project Manager</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
    </div>


    <div class="team_member">
      <div class="team_img">
        <img src="{%static 'user_registration/assets/pic2.jpg' %}">
      </div>
      <h3>Ashim Thapa</h3>
      <p class="role">Business Analyst</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
  </div>


    <div class="team_member">
      <div class="team_img">
        <img src="{%static 'user_registration/assets/pic3.jpg' %}">
      </div>
      <h3>Saurav Kunwar</h3>
      <p class="role">Frontend Developer</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
    </div>


 <div class="team_member">
      <div class="team_img">
        <img src="{%static 'user_registration/assets/pic4.jpg' %}">
      </div>
      <h3>Pragik Karki</h3>
      <p class="role">Backend Developer</p>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est quaerat tempora, voluptatum quas facere dolorum aut cumque nihil nulla harum nemo distinctio quam blanditiis dignissimos.</p>
    </div>


  </div>
