{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">
    <title>Share Market</title>
    <link rel="stylesheet" type="text/css" href="{%static 'user_registration/style/broker.css' %}">
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <h4><img src="{%static 'user_registration/style/img/vvv.jpg' %}">Stock M</h4>
            </div>
            <div class="topnav" id="myTopnav">

                <a href="/" >Home</a>
                <a href="/news">NEWS</a>
                <a href="/applyipo">Help</a>
                <a href="/about">About Us</a>
                <a href="/ltp">LTP</a>
                <a href="/broker" class="active">BROKER HOUSE</a>


            </div>
        </nav>





        <div class="row">
            <div class="col-lg-12">
                <h4 class="page-header">
                    <span>
                        <h1> Listed Brokers</h1<span>
                </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">


                <div id="ctl00_ContentPlaceHolder1_divData">
                    <div class="table-responsive">
                        <table class="table">

                            <tr>
                                <th>
                                    <span title="Broker Code">Broker Code</span>
                                </th>
                                <th>
                                    <span title="Broker Name">Broker Name</span>
                                </th>
                                <th>
                                    <span title="Landline">Landline</span>
                                </th>
                                <th>
                                    <span title="Address">Address</span>
                                </th>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">1</a>
                                </td>

                                <td class="text-left">Kumari Securities Pvt. Limited</td>
                                <td class="text-left">01-4418036</td>
                                <td class="text-left">Dilli Bazar,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">2</a>
                                </td>
                                <td class="text-left">Kumari Securities Pvt. Limited</td>
                                <td class="text-left">061-537411, 061-537511 </td>
                                <td class="text-left">New Road, Pokhara</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">3</a>
                                </td>
                                <td class="text-left">Arun Securities Pvt. Limited</td>
                                <td class="text-left">01-6916470</td>
                                <td class="text-left">Putalisadak,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">4</a>
                                </td>
                                <td class="text-left">Opal Securities Investment Pvt. Limited</td>
                                <td class="text-left">01-4420313,01-4420314 </td>
                                <td class="text-left">Uttardhoka,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">5</a>
                                </td>
                                <td class="text-left">Market Securities Exchange Company Pvt. Limited</td>
                                <td class="text-left">01-4248973</td>
                                <td class="text-left">Kichha Pokhari,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">6</a>
                                </td>
                                <td class="text-left">Agrawal Securities Pvt. Limited</td>
                                <td class="text-left">01-4168057</td>
                                <td class="text-left"> Putalisadak,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">7</a>
                                </td>
                                <td class="text-left">Agrawal Securities Pvt. Limited</td>
                                <td class="text-left">021-531667</td>
                                <td class="text-left">Main Road, Biratnagar</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">8</a>
                                </td>
                                <td class="text-left">J.F. Securities Company Pvt. Limited</td>
                                <td class="text-left">01-4256099 </td>
                                <td class="text-left">Newroad,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">9</a>
                                </td>
                                <td class="text-left">Ashutosh Brokerage & Securities Pvt. Limited</td>
                                <td class="text-left">01-4220276</td>
                                <td class="text-left">Kichha Pokhari,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">10</a>
                                </td>
                                <td class="text-left">Pragyan Securities Pvt. Limited</td>
                                <td class="text-left">01-6226890</td>
                                <td class="text-left">Kamaladi, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">11</a>
                                </td>
                                <td class="text-left">Pragyan Securities Pvt. Limited</td>
                                <td class="text-left">021-527283</td>
                                <td class="text-left">College Road, Biratnagar </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">12</a>
                                </td>
                                <td class="text-left">Malla & Malla Stock Broking Company Pvt. Limited</td>
                                <td class="text-left">01-4432088</td>
                                <td class="text-left">Dillibazar,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">13</a>
                                </td>
                                <td class="text-left">Thrive Brokerage House Pvt. Limited </td>
                                <td class="text-left">01-4419051</td>
                                <td class="text-left">Naxal,,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">14</a>
                                </td>
                                <td class="text-left">Thrive Brokerage House Pvt. Limited </td>
                                <td class="text-left">061-526877,061-522935</td>
                                <td class="text-left">Gairipatan, Pokhara </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">15</a>
                                </td>
                                <td class="text-left">Nepal Stock House Pvt. Limited</td>
                                <td class="text-left">01-4265888</td>
                                <td class="text-left">Anamnagar,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">16</a>
                                </td>
                                <td class="text-left">Nepal Stock House Pvt. Limited</td>
                                <td class="text-left">061-536258,061-534694</td>
                                <td class="text-left">Gairapatan, Pokhara </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">17</a>
                                </td>
                                <td class="text-left">Primo Securities Pvt. Limited</td>
                                <td class="text-left">01-4168164</td>
                                <td class="text-left"> Putalisadak,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">18</a>
                                </td>
                                <td class="text-left">ABC Securities Pvt. Limited</td>
                                <td class="text-left">01-4230787</td>
                                <td class="text-left">Indrachowk,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">19</a>
                                </td>
                                <td class="text-left">Sagarmatha Securities Pvt. Limited</td>
                                <td class="text-left">01-4439315</td>
                                <td class="text-left">Putalisadak,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">20</a>
                                </td>
                                <td class="text-left">Nepal Investment & Securities Trading Pvt. Limited</td>
                                <td class="text-left">01-4495450</td>
                                <td class="text-left">Bhimsengola ,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">21</a>
                                </td>
                                <td class="text-left">Nepal Investment & Securities Trading Pvt. Limited</td>
                                <td class="text-left">021-440127</td>
                                <td class="text-left">Main Road, Biratnagar</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">22</a>
                                </td>
                                <td class="text-left">Sipla Securities Pvt. Limited</td>
                                <td class="text-left">01-4255782</td>
                                <td class="text-left">NewRoad,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">23</a>
                                </td>
                                <td class="text-left">Midas Stock Broking Company Pvt. Limited</td>
                                <td class="text-left">01-4240089</td>
                                <td class="text-left">Kamaladi Chowk, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">24</a>
                                </td>
                                <td class="text-left">Siprabi Securities Pvt. Limited</td>
                                <td class="text-left">01-5530701</td>
                                <td class="text-left">Kupondol,Lalitpur</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">25</a>
                                </td>
                                <td class="text-left">Siprabi Securities Pvt. Limited</td>
                                <td class="text-left">051-523818</td>
                                <td class="text-left">Resham Kothi, Birgunj </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">26</a>
                                </td>
                                <td class="text-left">Sweta Securities Pvt. Limited</td>
                                <td class="text-left">01-4444791</td>
                                <td class="text-left">Putalisadak,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">27</a>
                                </td>
                                <td class="text-left">Asian Securities Pvt. Limited</td>
                                <td class="text-left">01-4524351,4524385</td>
                                <td class="text-left">Putalisadak-29, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">28</a>
                                </td>
                                <td class="text-left">Shree Krishna Securities Limited</td>
                                <td class="text-left">01-4224262</td>
                                <td class="text-left">Dharmapath, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">29</a>
                                </td>
                                <td class="text-left">Trishul Securities And Investment Limited</td>
                                <td class="text-left">01-4440709</td>
                                <td class="text-left">Putalisadak,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">30</a>
                                </td>
                                <td class="text-left">Trishul Securities And Investment Limited</td>
                                <td class="text-left">056-528426</td>
                                <td class="text-left">Milan Road, Narayanghat </td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">31</a>
                                </td>
                                <td class="text-left">Premier Securites Company Limited</td>
                                <td class="text-left">01-4231339</td>
                                <td class="text-left">Putalisadak,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">32</a>
                                </td>
                                <td class="text-left">Premier Securites Company Limited</td>
                                <td class="text-left">061-534201</td>
                                <td class="text-left">New Road, Pokhara</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">33</a>
                                </td>
                                <td class="text-left">Dakshinkali Investment and Securities Pvt. Ltd.</td>
                                <td class="text-left">01-4168640</td>
                                <td class="text-left">Kathmandu Plaza, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">34</a>
                                </td>
                                <td class="text-left">Vision Securities Pvt. Ltd.</td>
                                <td class="text-left">01-4438621</td>
                                <td class="text-left">Laxmi Plaza, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">35</a>
                                </td>
                                <td class="text-left">Kohinoor Investment and Securites Pvt. Ltd.</td>
                                <td class="text-left">01-4442857</td>
                                <td class="text-left">Near Marcopolo Hotel, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">36</a>
                                </td>
                                <td class="text-left">Secured Securities Ltd.</td>
                                <td class="text-left">01-4168172</td>
                                <td class="text-left">Opposite to Shanker Dev campus, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">37</a>
                                </td>
                                <td class="text-left">Swarnalaxmi Securities Pvt. Ltd.</td>
                                <td class="text-left">01-4417178</td>
                                <td class="text-left">Behind City Center, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">38</a>
                                </td>
                                <td class="text-left">Dipshikha Dhitopatra Karobar Co. Pvt. Ltd.</td>
                                <td class="text-left">01-4102532</td>
                                <td class="text-left">Ranabhat Complex, Anamnagar, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">39</a>
                                </td>
                                <td class="text-left">Sumeru Securities Pvt. Ltd.</td>
                                <td class="text-left">01-4444740</td>
                                <td class="text-left">Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">40</a>
                                </td>
                                <td class="text-left">Creative Securities Pvt. Ltd.</td>
                                <td class="text-left">01-4168205</td>
                                <td class="text-left">Putalisadak, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">41</a>
                                </td>
                                <td class="text-left">Linch Stock Market Ltd.</td>
                                <td class="text-left">01-4469367</td>
                                <td class="text-left">New Baneshowar, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">42</a>
                                </td>
                                <td class="text-left">Sani Securities Co. Ltd.</td>
                                <td class="text-left">01-401006</td>
                                <td class="text-left">Jamal, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">43</a>
                                </td>
                                <td class="text-left">South Asian Bulls Pvt. Ltd.</td>
                                <td class="text-left">01-4284785</td>
                                <td class="text-left">Kuleshowar, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">44</a>
                                </td>
                                <td class="text-left">Dynamic Money Managers Securities Pvt. Ltd.</td>
                                <td class="text-left"></td>
                                <td class="text-left">Kamal Pokhari, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">45</a>
                                </td>
                                <td class="text-left">Imperial Securities Co. Pvt. Ltd.</td>
                                <td class="text-left">01-4231004</td>
                                <td class="text-left">Anamnagar, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">46</a>
                                </td>
                                <td class="text-left">Kalika Securities Pvt. Ltd.</td>
                                <td class="text-left">01-4430601</td>
                                <td class="text-left">Next to Radhakuti Arched, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">47</a>
                                </td>
                                <td class="text-left">Neev Securities Pvt. Ltd.</td>
                                <td class="text-left">01-4168601, 01-4168572</td>
                                <td class="text-left">X-Block, 4th Floor, Kathmandu Plaza, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">48</a>
                                </td>
                                <td class="text-left">Trishakti Securities Public Limited</td>
                                <td class="text-left">01-4232132</td>
                                <td class="text-left">Putalisadak, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">49</a>
                                </td>
                                <td class="text-left">Online Securities Pvt. Ltd.</td>
                                <td class="text-left">01-4246390,01-4246392</td>
                                <td class="text-left">Bagbazar, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">50</a>
                                </td>
                                <td class="text-left">Crystal Kanchanjungha Securities Pvt. Ltd.</td>
                                <td class="text-left">01-4422376,01-4428072</td>
                                <td class="text-left">New Plaza, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">51</a>
                                </td>
                                <td class="text-left">Oxford Securities Pvt. Ltd.</td>
                                <td class="text-left">01-4273850,01-4278113</td>
                                <td class="text-left">Kalimati, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">52</a>
                                </td>
                                <td class="text-left">Sundhara Securities Ltd.</td>
                                <td class="text-left">01-4212215,01-4263583</td>
                                <td class="text-left">Sundhara, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">53</a>
                                </td>
                                <td class="text-left">Sri Hari Securities Pvt. Ltd.</td>
                                <td class="text-left">01-4437562</td>
                                <td class="text-left">Kamaladi, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">54</a>
                                </td>
                                <td class="text-left"> Investment Management Nepal Pvt. Ltd.</td>
                                <td class="text-left">01-4256589</td>
                                <td class="text-left">Tripureshwor,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">55</a>
                                </td>
                                <td class="text-left">Sewa Securities Pvt. Ltd.</td>
                                <td class="text-left">01-4256642</td>
                                <td class="text-left">Tripureshwor,Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">56</a>
                                </td>
                                <td class="text-left">Bhrikuti Stock Broking Co. Pvt. Ltd.</td>
                                <td class="text-left">01-4223466</td>
                                <td class="text-left">Newroad, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">57</a>
                                </td>
                                <td class="text-left">Arya Tara Investment And Securities Pvt. Ltd.</td>
                                <td class="text-left">01-5705596, 5706297</td>
                                <td class="text-left">Anamnagar, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">58</a>
                                </td>
                                <td class="text-left">Naasa Securities Co. Ltd.</td>
                                <td class="text-left">01-5970084</td>
                                <td class="text-left">Naxal, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">59</a>
                                </td>
                                <td class="text-left">Deevyaa Securities & Stock House Pvt. Ltd</td>
                                <td class="text-left">01-4421488</td>
                                <td class="text-left">New Plaza, Putalisadak, Kathmandu</td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">60</a>
                                </td>
                                <td class="text-left">Nagarik Stock Dealer</td>
                                <td class="text-left"></td>
                                <td class="text-left"></td>
                            </tr>

                            <tr>
                                <td class="text-center">
                                    <a href="javascript:void(0);">61</a>
                                </td>
                                <td class="text-left">Asian Securities Private Ltd.</td>
                                <td class="text-left">071-541385</td>
                                <td class="text-left">asainsecurities26@gmail.com</td>
                            </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>

        </div>
    </header>
    <footer>
        <div class="footer">
            <h6>Stay Connected To US</h6>

            <a href="" target="_blank"><img alt="facebook" src="Img/facebook.png"></a>

            <a href="" target="_blank"><img alt="twitter" src="Img/twitter.png"></a>

            <a href="" target="_blank"><img alt="youtube" src="Img/youtube.png"></a>

            <a href="" target="_blank"><img alt="instagram" src="Img/instagram.png"></a>

            <a href="" target="_blank"><img alt="pinterest" src="Img/pinterest.png"></a>

        </div>
        <div class="void">
            <h4>&copy;Share Market, Kathmandu 44600</h4>
            <h5>&copy;Email ShareMarket.org.np</h5>
            Phone +977 9803428358
        </div>
        <div class="right">
            <h3>&copy;Copyright,2021,Share</h3>
        </div>
    </footer>
</body>

</html>