<!DOCTYPE html>
<html>
<head>
	<title>Share Market</title>
	<link rel="stylesheet" type="text/css" href="DematAcc.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<header>
	 		<h1> PORTFOLIO MANAGEMENT SIGN UP </h1>
		  
	</header>
		
				<nav>
					<div class="container">
				<div class="text">	
					<form name="messageForm" onsubmit="formValidation()">
                <input type="text" placeholder="Your First Name" class="Contactformval" name="FirstName">
                <input type="text" placeholder="Your Last Name" class="Contactformval" name="LastName">
                <input type="email" placeholder="Your email" class="Contactformval" name="Email">
                <input type="text" placeholder="Your Phone Number" class="Contactformval" name="PhoneNo">
                  <input type="text" placeholder="Enter User Name" class="Contactformval" name="UserName">
                <input type="submit" class="cfbtn" value="Submit">
                </form>


<script>
            function formValidation(){
                    var fname = document.forms["messageForm"]["FirstName"].value;
                    var lname = document.forms["messageForm"]["LastName"].value;
                    var email = document.forms["messageForm"]["Email"].value;
                    var message = document.forms["messageForm"]["Message"].value;
                    var phoneNum = document.forms["messageForm"]["PhoneNo"].value;
            if(fname =="" && lname =="" && message == "" && email ==""){
                alert("Empty fields found. Please fill up the form.");
            }else if(fname =="" && lname ==""){
                alert("Empty field found. Enter your full name.");
            }else if(email == "" && message ==""){
                alert("Empty fields found. Enter message and your email");
            }else if(message == ""){
                alert("Empty field found. Enter a message.");
            }else if(email == ""){
                alert("Empty fields found. Enter your email");
            }else if(lname ==""){
                alert("Empty field found. Enter your full name");
            }else if(fname ==""){
                alert("Empty field found. Enter your full name");
            }
            else{
                alert("Thank you for the registration.");
            }
        }
    </script>
  </head>
</div>

		<h1> PROCESS OF INVOLVING IN STOCK MARKET IN NEPAL</h1>
					
<p>A DEMAT account is used to store the company shares that you own in dematerialized form. That means that the physical share certificates that we used previously will be converted and stored in a digital form. The account capable of holding such shares is known as a DeMat account.</p>
<p>The same account is used for share transactions. Now, when you buy and sell stock in the primary (IPO) as well as secondary markets (via brokers), you need to have a DEMAT account. This has made it possible for quicker transactions and ownership transfer. Please note that the normal fees are:</p>
<ol>
<li>Account Opening Charge: Rs. 50</li>
<li>Annual Account Maintenance Charge: Rs. 100.</li>
</ol>
<p>Making up a total of Rs. 150.</p>
<p><strong>To Open a DEMAT account to store company shares in Nepal, follow these steps:</strong></p>
<ul>
<li>Find a company providing the service. For example: Kriti Capital, NIBL Capital, NMB Capital, Global IME Capital and other Capital markets as well as your stock broker’s office.</li>
<li>Fill up the form. You will need an attested Nepali citizenship photocopy and a passport size photograph for the form.</li>
<li>Submit the form.</li>
<li>It will usually take a few days for them to set it up. You will receive a share checkbook so that you can sell shares.</li>
</ul>
<p><strong>To deposit your physical share certificates in your Demat account:</strong></p>
<ul>
<li>Take your physical share certificates to the place where you opened your Demat account.</li>
<li>Fill up a dematerialization request form with the correct signature for the Demat account as well as the signature that is in the company.</li>
<li>Submit the form.</li>
</ul>
<p>After they enter it in the system, you can take the documents to the share registrar of your company and submit it for dematerialization on your own. You can also let your Demat company do the submission job for you. If you do it yourself you might save some time. But even after you submit the shares for dematerialization, you will have now see the shares deposited in your account at around 2 weeks.</p>
</div>
</div>
</nav>

</head>

    <script>

</body>