{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Share Market</title>
	<link rel="stylesheet" type="text/css" href="{%static 'user_registration/style/style.css' %}">
</head>
<style>
	body{
		
		background-image: url('{%static "user_registration/assets/1.png" %}');
	}
</style>
<body>
    <header>
	<nav>
        <div class="logo">
            <h1><img src="{%static 'user_registration/assets/vvv.jpg' %}">Stock M</h1>
</div>
        <div class="menu">
            <ul>
                <li><a href="">HOME</a></li>
               
                <li><a href="/help">HELP</a></li>
                <li><a href="/aboutus">About Us</a></li>
</ul>
</div>
</nav>

	<div class= "loginbox">

    <img src= "{%static 'user_registration/assets/icon.jpg'%}" class="login">
    <h1>Sign In</h1>
    <form>
    	<p>Username</p>
    	<input type="Number" name="" placeholder="Enter Username">
    	<p>Password</p>
    	<input type="Password" name="" placeholder="Enter Password">

    	<input type="Submit" name="" placeholder="Login">
    <div class="Guide">
    	<a href="/dmatacc">Don't have an account?</a>
    </div>

    	<div class="h2">
    		<h3>OR</h3>
    	</div>
    	<button class="social google">Login with Google</button>
    </form>
	</div>

	<div>
		<div class="leftside">
			<h1>"An Important key to investing is to remember that stocks are not lottery tickets."</h1>
			<h2>-Peter Lynch</h2>
			
	</div>
</div></header>



</body>
</html>
